@mixin reset{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin main-box {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-left: 50px;
    margin-bottom: 25px;
    width: 18em;
}

@mixin main-btn {
padding: 10px;
border-radius: 20px;
color: white;
font-weight: bolder;
}